.poscenter{
    display:flex;
    justify-content: center;
}

.width{
max-width: 1200px;
width: 96%;
}

.posrow{
    display: flex;
    flex-direction: row;
    
}

.poselemcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sup-text{
    color: rgba(20, 20, 20, 1);
font-family: "Inter";
font-style: Medium;
font-size: 14.4px;
font-weight: 500;
line-height: 14.4px;
letter-spacing: 0.5px;
text-align: left;
text-transform: uppercase;
margin:0;
display: flex;
justify-content: center;
align-items: center;
}

.sb-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.columnspace{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}