body{
    margin: 0;
    background-color: rgba(250, 251, 252, 1);
    display: flex;
    flex-direction: column;
}

header{
    margin:0;
    background: rgba(246, 246, 246, 1);
    padding: 10px 0 10px 0;
     
    
}

.navigation-page-g{
    display: flex;
    justify-content: center;
}

.navigation-page-s{
    display: flex;
    justify-content: space-between;
}

.logo-navigation-page-box-picture{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.home-navigation{
    display: flex;
    justify-content: space-between;
    gap:15px;
}

.introduce-data-g{
    padding:20px 0 50px 0;
    display: flex;
    justify-content: center;
}

.picture-introduction-data{
    width: 175px;
    height:175px;
    object-fit: cover;
    border-radius: 25%;
}

.name-data{
    color: rgba(7, 7, 7, 1);
font-family: "Gilroy-Bold";
font-style: ☞;
font-size: 47.34px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0%;
text-align: left;
width: 200px;
margin: 0;
}

.introduction-description-data-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}

.introduction-description-data-text{
 color: rgba(7, 7, 7, 1);
font-family: "Gilroy-Medium";
font-style: ☞;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
width: 157px;
margin: 0;
display: flex;
justify-content: center;
}

.introduce-desctiption-data-language-text{
    color: rgba(7, 7, 7, 1);
font-family: "Gilroy-Medium";
font-style: ☞;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 157px;
margin: 0;
display: flex;
justify-content: center;
}

.about-me-g{
    padding: 100px 0 120px 0;
    background: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: center;
}

.about-me-s{
    display: flex;
    justify-content: center;
}

.about-me-text{
    margin:0;
    display: flex;
    justify-content: center;
}

.about-me-central-box{
    width: 600px;
}


